* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient-bg 15s ease infinite;
  animation: gradient-bg 15s ease infinite;
  max-height: 700px;
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

svg {
  border-radius: 50%;
}

#rayganeshjee polygon {
  transform-style: border-box;
  transform-origin: center;
}

#bg {
  fill: rgb(250 251 253 / 31%);
}

#borderbox {
  stroke: #0f0e3d;
  stroke-width: 0.5px;
  fill: #dc0000;
}
